<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<navbar>
	<div class="pull-right user-info">
		<% if current_user %>
		Hello <%= link_to current_user.email, current_user %> | 
		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Sign In", new_user_session_path %> or
			<%= link_to "Sign_Up", new_user_registration_path %>
		<% end %>
	</navbar>

<%= flash[:notice] if flash[:notice] %>
<%= flash[:error] if flash[:error] %>

<%= yield %>

</body>
</html>
